<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.DelieverConnectionString"
            connectionString="Data Source=182.254.246.117;Initial Catalog=Deliever;Persist Security Info=True;User ID=sa;Pwd=1253409323Ld"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.DeliverMgrSysConnectionString1"
            connectionString="Data Source=182.254.246.117;Initial Catalog=DeliverMgrSys;User ID=sa;Password=1253409323Ld"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.DeliverMgrSysConnectionString"
            connectionString="Data Source=182.254.246.117;Initial Catalog=DeliverMgrSys;User ID=sa;Password=1253409323Ld"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.DelieverConnectionString1"
            connectionString="Data Source=182.254.246.117;Initial Catalog=Deliever;User ID=sa;Password=1253409323Ld"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="DBName" value="Data Source=182.254.246.117;Initial Catalog=Deliever;User ID=sa;Password=1253409323Ld"/>
    </appSettings>
</configuration>